.container-fluid {
    height: 112px;
    border: 1px;
    background: #898a8c;
}

.btn  {
    margin: 25% 0%;
}

.navbar-brand {
    height: 100%;
}

.logo {
    height:100%;
}

.map {
  height: 400px;
  width: 50%;
 }

body{
    background: #cdcdcd;
}