.container-fluid {
    height: 100px;
    background: #898a8c;
}

.btn {
    margin: 25% 0%;
}

.map {
    height: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

body {
    background: #cdcdcd;
    height: 100%;
    font-family: Arial;
}

html {
    height: 100%;
}

.right {
    float: right;
}

.standorte {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: #dddddd;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {

    .standorte {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background: #dddddd;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 9px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 649px) {

    .standorte {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background: #dddddd;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1024px) {

    .standorte {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background: #dddddd;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
    }
}

th {
    text-align: center;
    font-size: large;
}

@media only screen and (max-width: 480px) {

    th {
        text-align: center;
        font-size: 11px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 649px) {

    th {
        text-align: center;
        font-size: 13px;
    }

}

@media only screen and (min-width: 650px) and (max-width: 1024px) {

    th {
        text-align: center;
        font-size: 15px;
    }

}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    height: 100%;
    padding: 0px;
}

.navbar-brand > img {
    max-height: 100%;
    padding: 15px;
    width: auto;
}

.test {
    height: 100%;
}

.row {
    height: 100%;
}

.mydropdown {
    margin: -25% 0%;
}